@import 'patterns.scss';
@import 'variables.scss';

header {
  display: flex;
  justify-content: center;
  background-color: $dark-color;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 1320px;
}

.header-wrapper__title {
  @extend %primary-font;
  color: white;
  cursor: pointer;
}

.header-logo {
  color: black;
  font-style: italic;
}

.header-wrapper__nav-items {
  @extend %secondary-font;
  display: flex;
  gap: 60px;
  margin-top: 5px;
  list-style: none;
  margin: 0 20px;
}

.nav-item {
  cursor: pointer;
  color: $light-color;
}

.item-contacts {
  color: white;
}

#user-input {
  padding: 5px;
  border-radius: 50px;
  width: 220px;
  margin: 20px 0;
}

.btn-search {
  padding: 5px 20px;
  border-radius: 50px;
  cursor: pointer;
}
