@import 'header.scss';
@import 'main.scss';
@import 'loader.scss';
@import 'recomendations.scss';
@import 'basket.scss';

@import 'patterns.scss';
@import 'footer.scss';

//Запуск препроцессора
/*sass --watch assets/scss/index.scss assets/styles/styles.css*/

// Общие настройки
* {
  margin: 0;
  padding: 0;
}

/*Медиа-запросы*/
@media screen and (min-width: 993px) and (max-width: 1040px) {
  //Блок header
  .header-wrapper__nav-items {
    gap: 2.6vw;
  }
}

@media screen and (min-width: 690px) and (max-width: 992px) {
  //Блок header
  .header-wrapper__title,
  .header-logo {
    @include primary-font-smaller;
  }

  .header-wrapper__nav-items {
    @include secondary-font-smaller;
  }

  .header-wrapper__nav-items {
    gap: 3vw;
  }

  #user-input {
    width: 20vw;
    padding: 3px 10px;
    font-size: 1.5vw;
  }

  .btn-search {
    padding: 3px 10px;
    font-size: 1.5vw;
  }

  //Блок main
  main {
    margin-top: 20px;
  }

  .cards {
    gap: 10px;
  }

  .card {
    @include secondary-font-smaller-main;
  }

  .img-poster {
    width: 14vw;
  }

  .book-price {
    margin: 10px 0 8px 0;
  }

  //Loader
  .loader {
    width: 80px;
    height: 80px;
    left: 45%;
  }

  //Блок basket
  .basket-price  {
    white-space: nowrap;
  }
}

@media screen and (max-width: 689px) {

  //Блок header
  .header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .header-wrapper__nav-items {
    gap: 20px;
    margin: 12px 0 18px 0;
  }

  #user-input {
    margin: 0;
    width: 50vw;
  }

  //Блок main
  main {
    margin-top: 20px;
  }

  .cards {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .card {
    font-size: 2.6vw;
  }

  .img-poster {
    width: 20vw;
  }

  .book-price {
    margin: 10px 0 8px 0;
  }

  //Блок loader
  .loader {
    width: 80px;
    height: 80px;
    left: 38%;
  }

  //Блок basket
  .basket-info {
    width: 200px;
    margin: 0 20% 0 10%;
  }

  .basket-price  {
    white-space: nowrap;
  }

  .basket-card {
    font-size: 14px;
  }

  .basket-poster {
    width: 60px;
  }
}

@media screen and (max-width: 500px) {
  
  //Блок basket
  .basket-wrapper {
    margin: 0;
  }

  .basket-container {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .btn-pay {
    margin: 0 0 5px 0;
    width: 100px;
  }

  .basket-container__pay {
    font-size: 12px;
  }
}